body {
    background-image:url(../img/background.webp);
    background-repeat: no-repeat;
    background-size: 100%;
    color: #F5DACF;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #6F3317;
  border-radius: 15px;
  border-color: #CF7239;
  border-style: solid;
}

ul li {
  float: right;
  flex-direction: column-reverse;
}

ul li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: #F5DACF
}

ul li a:hover {
  background-color: #8181817c;
}

section {
    background-color: #6F3317;
    border-radius: 15px;
    border-color: #CF7239;
    border-style: solid;
}